{
  "parser": "babel-eslint",
  "rules": {
    "semi": 2,
    "indent": ["error", 2],
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "document": true,
    "describe": true,
    "console": false,
    "beforeEach": true,
    "module": true,
    "window": true,
    "Promise": true
  }
}